.navbar-default .navbar-toggle:hover {
  background-color: #636363;

}
.navbar-default .navbar-brand {
  font-family: 'PT Serif', serif;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav > li > a  {
  font-family: 'PT Serif', serif;
  font-size: 20px;
}


h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

li{
  font-size: 10px;
}

.well {
  min-height: 20px;
  padding: 2px;
  margin-bottom: 10px;
}

.center {
  padding: 30px;
  background: #fcfcfc;;
}

.row{
  padding:10px;
}

body {
    background-color: #fcfcfc;
    font-family: 'PT Serif', serif;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}